<div class="flex flex-col items-center justify-center min-h-[60vh] gap-6 text-center">
    
    <div class="bg-branco-puro p-8 rounded-2xl shadow-sm border border-cinza-contorno max-w-4xl">
        <img src="images/img-principal.png" 
             alt="Bem-vindo ao SysClinica" 
             class="w-full h-auto rounded-lg shadow-inner">
        
        <h1 class="text-3xl font-bold text-azul-prisma mt-8">
            Bem-vindo ao SysClinica
        </h1>
        
        <p class="text-xl text-cinza-chumbo mt-2">
            Selecione uma opção no menu para começar a gerenciar a clínica.
        </p>
    </div>

</div>